"*":
  core:
    disabledPackages: [
      "linter-js-standard"
      "linter-flow"
    ]
    telemetryConsent: "limited"
  editor:
    fontFamily: "Source Code Pro"
    invisibles: {}
    showIndentGuide: true
    showInvisibles: true
    softWrapAtPreferredLineLength: true
    tabType: "soft"
  "exception-reporting":
    userId: "284f782f-515c-523f-92de-8b84f0fcdad9"
  "linter-eslint":
    globalNodePath: "/Users/kellymilligan/.nvm/versions/node/v6.10.2"
    useGlobalEslint: true
  "linter-flow": {}
  "linter-js-standard": {}
  "linter-stylelint": {}
  "linter-ui-default": {}
  "release-notes":
    viewedVersion: "0.89.0"
  "spell-check":
    "exception-reporting":
      userId: "375a7655-25c0-d90e-2266-e78b89305253"
    grammars: [
      "text.plain"
      "source.gfm"
      "text.git-commit"
      "text.html.basic"
    ]
    linter:
      showErrorPanel: false
    "linter-eslint":
      fixOnSave: true
      globalNodePath: "/Users/kellymilligan/.nvm/versions/node/v6.9.2"
      rulesToSilenceWhileTyping: [
        "no-trailing-spaces"
      ]
      useGlobalEslint: true
    "linter-js-standard":
      checkStyleDevDependencies: true
      showEslintRules: true
    "markdown-preview-plus":
      useGitHubStyle: true
    "tree-view": {}
  welcome:
    showOnStartup: false
